 <h3>Verfügungstellung der Daten</h3>
<p>
  Wie können potentielle Nutzer ihre Daten finden? Für welche Nutzer
  stellen Sie ihre Daten zur Verfügung, und unter welchen Bedingungen?
  Werden die Daten aussschliesslich über das Repositorium zur
  Verfügung gestellt, oder auch direkt? Gibt es persistente
  Identifikatoren mit denen auf ihre Datenbestandteile referenziert
  werden kann (siehe Datenorganisation)?
</p>

<div class="form-group">
  <label for="dataSharing"></label>
    <textarea rows="10" class="form-control" name="dataSharing" ng-model="formData.dataSharing" placeholder=""></textarea>
</div>

<p>
  Der Datenbereitsteller beschreibt die beabsichtigte Zielgruppe für die
  Nachnutzung des Projekts. In der Regel sind CLARIN-Zentren in den Geistes- und
  Sozialwissenschaften tätig, sodass mögliche Zielgruppen beispielsweise Sprachwissenschaftler oder Archäologen sein könnten.
</p>

<div class="form-group">
  <label for="targetGroup"></label>
    <textarea rows="10" class="form-control" name="targetGroup" ng-model="formData.targetGroup" placeholder="Es ist daran gedacht, dass die Daten von Geisteswissenschaftlern, insbesondere Germanisten und Sprachlehrern nachgenutzt werden können."></textarea>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
  <a ui-sref="form.timetable" class="btn btn-block btn-info">
      N&auml;chster Abschnitt <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
