 <h3>Availability of Your Data:</h3>
<p>
  How can potential users find your data? To which users do you plan to give access to your data and under what conditions? Will the data only be available through the repository, or will it also be available directly? Does your data have persistent identifiers by which they can be referenced (see Data Organization)?
</p>

<div class="form-group">
  <label for="dataSharing"></label>
    <textarea rows="10" class="form-control" name="dataSharing" ng-model="formData.dataSharing" placeholder=""></textarea>
</div>

<p>
  The data provider should describe the intended target group which would reuse the project data. Normally, CLARIN centers are active in the humanities and social sciences, so possible target groups could be linguists and archaeologists.
</p>

<div class="form-group">
  <label for="targetGroup"></label>
    <textarea rows="10" class="form-control" name="targetGroup" ng-model="formData.targetGroup" placeholder="We suggest that the data can be used by humanities scholars, especially germanists and language teachers."></textarea>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
  <a ui-sref="form.timetable" class="btn btn-block btn-info">
      Next section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
